
.icon-cheese:before { content: '\e800'; } /* '' */
.icon-meat:before { content: '\e801'; } /* '' */
.icon-salad:before { content: '\e802'; } /* '' */
.icon-sausages:before { content: '\e807'; } /* '' */
.icon-bun:before { content: '\e808'; } /* '' */
.icon-drink:before { content: '\e809'; } /* '' */