@model TexasBurgerApp.Models.IngTypeViewModel
@{
    ViewBag.Title = "Byg Din egen Burger";
}


<div id="myTabContent" class="tab-content">

    @Html.Partial("_BunSection")

    @Html.Partial("_MeatSection")

    @Html.Partial("_CheeseSection")

</div>

